################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.suo
*.sqlite
*.lock
*.ide
*.ide-shm
*.ide-wal
