<script src="https://cdn.jsdelivr.net/npm/frappe-charts@1.1.0/dist/frappe-charts.min.iife.js" ></script>

<div id="chart"></div>
<script src="lib/jquery/dist/jquery.min.js"></script>
<script>
    
    var Views;
    $.get("@Url.Action("GetStatistics")", function(data) {
        var dObj = JSON.parse(data);
        const data1 = {
            labels: [
                "00:00-3:00", "3:00-6:00", "6:00-9:00", "9:00-12:00", "12:00-15:00", "15:00-18:00", "18:00-21:00",
                "21:00-00:00"
            ],
            datasets: [
                {
                    name: "Entrys",
                    type: "bar",
                    values: JSON.parse(dObj[0])
                }, {
                    name: "Views",
                    type: "line",
                    values: JSON.parse(dObj[1])
                }
            ]
        }

        const chart = new frappe.Chart("#chart",
            { // or a DOM element,
                // new Chart() in case of ES6 module with above usage
                title: "Statistics",
                data: data1,
                type: 'axis-mixed', // or 'bar', 'line', 'scatter', 'pie', 'percentage'
                height: 500,
                colors: ['#7cd6fd', '#743ee2']
            });
    });
    
</script>

